.lista-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.header-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.status-ativo {
    color: var(--sucess-color);
    font-weight: bold;
}

.status-inativo {
    color: var(--danger-color);
    font-weight: bold;
}

.btn-sm {
    padding: 6px 12px;
    font-size: 14px;
}

.mr-10 {
    margin-right: 10px;
}

.filtros-container {
    display: flex;
    gap: 15px;
    background-color: #f1f5f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    align-items: flex-end;
    flex-wrap: wrap;
}

.filtro-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filtro-group label {
    font-size: 14px;
    font-weight: 600;
    color: var(--secondary-color);
}

.form-control {
    padding: 8px 12px;
    border: 1px solid #cdb5e1;
    border-radius: 4px;
    font-size: 14px;
    min-width: 200px;
}

.form-control:focus{
    outline: none;
    border-color: var(--primary-color);
}

